//--------------------------------------------------------------------------
// UNIVERSAL SELECTOR
//--------------------------------------------------------------------------

*{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}
html{
    scroll-behavior: smooth;
}

//--------------------------------------------------------------------------
// BRANDING COLORS
//--------------------------------------------------------------------------

$color_1: #205BC9;

$white: #ffffff;
$black: #000000;

$em: 15px;
$maxWidth: 2250px;

//--------------------------------------------------------------------------
// FONTS
//--------------------------------------------------------------------------

$font_title:  "Montserrat", sans-serif;
$font_normal: "Poppins", sans-serif;

h1, h2, h3, h4, h5{
    font-family: $font_title;
    font-weight: 600;
}
p, a, ul, li, input, label, textarea{
    font-family: $font_normal;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    &::placeholder{
        font-family: $font_normal;
    }
}

//--------------------------------------------------------------------------
// IMPORT MIXINS
//--------------------------------------------------------------------------

@import 'mixins';

//--------------------------------------------------------------------------
// IMPORT CLASSES
//--------------------------------------------------------------------------

@import 'classes';